* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background: #fff;
}

button:focus {
    outline: none;
}

.wrapper {
    min-height: 100vh;
    height: auto;
    background-image: url('../images/bg.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--right .header--menu {
    margin-right: 20px;
}

.header--right .header--menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--right .header--menu ul li {
    list-style-type: none;
}

.header--right .header--menu ul li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
}

.header--right .header--menu ul li a img {
    margin-left: 5px;
    display: block;
    padding-top: 1px;
}

.header--right .header-right--button button {
    background: #14B45C;
    border-radius: 10px;
    color: #fff;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 30px;
    cursor: pointer;
}

/* Main App */
.about-section {
    padding: 26px 20px;
    display: flex;
    align-items: center;
}

.about-section--left {
    margin-right: 70px;
}

.about-section--left img {
    max-width: 400px;
}

.about-section--right {
    width: 495px;
}

.about-section--right h1 {
    color: green;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 30px;
}

.about-section--right .desc {
    font-size: 16px;
    color: #A1A4AC;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 40px;
}

.about-section--right .buttons {
    display: flex;
    align-items: center;
}

.about-section--right .buttons button {
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.about-section--right .buttons .download-button {
    margin-right: 30px;
    background:  #14B45C;
    padding: 16px 30px;
    border-radius: 16px;
}

.about-section--right .buttons .watch-button {
    background: transparent;
    display: flex;
    align-items: center;

}

.about-section--right .buttons .watch-button img {
    width: 413px;
    height: 122px;
    margin-right: 10px;
}
